.cart-msg {
  width: auto;
  height: 20px;
  font-family: SF Pro;
  font-weight: 590;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  color: black;
  margin-top: 10px;
}

.checkout {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between !important;
  align-items: center !important;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 150px;
  padding-top: 60px;
  background-color: #E60012;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  
    .font {
    color: #FFFFFF;
    font-family: SF Pro;
    font-weight: 860;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0px;
    vertical-align: middle;
    text-align: left !important;
  }

  :global(.adm-checkbox.adm-checkbox-checked .adm-checkbox-icon) {
  border-color: #FFFFFF;
  background-color: inherit !important;
}
}
.name {
  width: 880px;
  height: 20px;
  opacity: 1;
  font-family: SF Pro;
  font-weight: 590;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
}


.span {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0px;
  vertical-align: middle;
}
.arrow-icon {
    font-size: 20px;
    margin-left: 10px;
    color: white;
}

.point {
  width: 71px;
  height: 30px;
  font-family: SF Pro;
  font-weight: 860;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #E60012;
}
.originalPrice {
  width: 27px;
  height: 19px;
  padding-top: 9px;
  font-family: SF Pro;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0px;
  text-align: right;
  text-decoration: line-through;
  color: #6F6F72;
}

.font {
  color: #6F6F72;
  font-size: 14px;
  font-family: SF Pro;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0px;
}

.rule {
  color: #E60012;
  font-size: 12px;
}
.detail {
  color: #6F6F72
}

.delete-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;
  background: #ff4d4f;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.swipe-content {
  position: relative;
  z-index: 20;
  background: white;
  transition: transform 0.3s ease;
}

.fixed-delete-icon {
  position: absolute;
  right: 110px;
  top: 8px;
  z-index: 20;
}

:global(.adm-checkbox.adm-checkbox-checked .adm-checkbox-icon) {
  border-color: #FFFFFF;
  background-color: #E60012;
}
