
:global(.adm-tabs) {
  --active-line-color: #E60012;
  --active-title-color: #E60012;
   overflow-x: auto;  // 添加水平滚动
}

:global(.adm-tabs-tab) {
    padding: 16px 24px;
    font-size: 16px;
    font-family: SF Pro;
    font-weight: 590;
    color: #6F6F72;
    border-radius: 8px 8px 0 0;
    margin-right: 8px;
  }