.tabs {
  font-family: "SF Pro";
  font-weight: 590;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;

  :global(.adm-tabs-header) {
    margin-top: 2cqb;
    margin-bottom: 0;
    border-bottom: none;
    place-items: center center;
  }
}

:global(.adm-tabs) {
  --active-line-color: red;
  --active-title-color: red;
}