@media (min-width: 768px) {
    .sidebar  {
        margin-top: 50px;
    }

    a {
        text-decoration: none !important;

        &:hover {
            text-decoration: none !important;
        }
    }
  
}
