.name {
  opacity: 1;
 
  font-weight: 590;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}

.point {
  font-weight: 860;
  font-size: 24px;
  line-height: 22px;
  letter-spacing: 0;
  color: #E60012;
}

.originalPrice {
  width: 27px;
  height: 19px;
  
 
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0;
  text-align: right;
  text-decoration: line-through;
  color: #6F6F72;
}

.levelTap {
 
  font-weight: 400;
  font-size: 12px;
  line-height: 0.21333rem;
  letter-spacing: 0;
  color: #3B3936;
  border: 1px solid #3B3936;
  padding: 8px 12px;
  border-radius: 8px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font {
  color: #6F6F72;
 
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
}

.value {
 
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  color: #101820
}

.rule {
  color: #E60012;
  font-size: 12px;
}

.detail {
  color: #6F6F72
}

.cartButton {
  width: 158px;
  height: 54px;
 
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #F33434;
  border: 1px solid #F33434;
  background-color: #FFF;
  display: flex;
  justify-content: center;

  /* 在主轴上居中 */
  align-items: center;

  /* 在交叉轴上居中 */
  border-radius: 16px;
}

.redeemButton {
  width: 160px;
  height: 56px;
 
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
  background-color: #F33434;
  display: flex;
  justify-content: center;

  /* 在主轴上居中 */
  align-items: center;

  /* 在交叉轴上居中 */
  border-radius: 16px;
}

.disabledButton {
  opacity: 0.5;
  cursor: not-allowed !important;
}

.redeem {
  margin-top: -15px !important;
  color: #6F6F72;
 
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
}

.quantityDisplay {
  font-family: 'SF Pro';
  font-weight: 590;
  font-size: 14px;
  line-height: 18px;
  color: #101820;
}

.adaptive-badge {
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  white-space: nowrap;
}

.detail-badge {
  :global(.adm-badge-content) {
    font-size: 12px;
   
    font-weight: 400;
  }

  :global(.adm-badge) {
    height: 24px;
    align-items: center;
    border-radius: 8px;

  }
}
