.font {
  color: #6F6F72;
 
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0;
  margin-bottom: 5px;
}

.name {
  width: 100%;
  height: 20px;
  opacity: 1;
 
  font-weight: 590;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  margin-bottom: 8px;
  color: #101820;
}

.quantity-badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  padding: 2px 6px;
  font-weight: 700;
  font-family: SF Pro;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: right;
}

.name-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.redeemButton {
  width: 160px;
  height: 56px;
 
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  vertical-align: middle;
  color: #FFF;
  background-color: #F33434;
  display: flex;
  justify-content: center;

  /* 在主轴上居中 */
  align-items: center;

  /* 在交叉轴上居中 */
  border-radius: 16px;
  cursor: pointer;
}

.redeemButton.disabled {
  cursor: not-allowed;
  pointer-events: none;
  background: #CCCCCC;
  border-color: #CCCCCC;
}




:global(.adm-button-fill-none) {
  color: #101820;
  font-size: 14px !important
}