.profile{
   display: inline-flex;
  justify-content: center;
  align-items: center;
  :global(.adm-badge-content) {
    font-size: 12px;
   
    font-weight: 750;
  }
}
.adaptive-badge {
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
  white-space: nowrap;
}
