.contentWrapper {
  padding: 0;
}


:global(.adm-checkbox-content) {
  font-size: 14px !important;
 
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  color:#101820;
}

:global(.adm-checkbox-icon) {
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
}

:global( .adm-checkbox.adm-checkbox-checked .adm-checkbox-icon)  {
  border-color: #FFFFFF;
  background-color: #E60012;
}
  
